
custom_components/smhi_alerts/areas.json
.DS_Store
releasnote.md
smhi_alerts.zip
node_modules/
npm-debug.log*
__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/
.venv/
custom_components/smhi_alerts/releasenotes.md
