name: Release

on:
  push:
    branches: [beta, main]

permissions:
  contents: write
  issues: write
  pull-requests: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  release:
    uses: nicxe/.github/.github/workflows/reusable-release.yml@main
    with:
      node_version: "22"
    secrets: inherit